{% extends 'adminindex.html' %}
{% block body %}
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->
<form id="form1" name="form1" method="post" action="/orderassign">
  <table class="table">
    <tr>
      <th scope="col">Delivery agent</th>
      <th scope="col"><label>
       <select name="select" required>
           <option value="">SELECT</option>
          {% for i in val %}
          <option value="{{i[1]}}">{{i[2]}} {{i[3]}}</option>
          {% endfor %}
       </select>
      </label></th>
    </tr>
    <tr>
      <td colspan="2">
        <div align="center">
          <input type="submit" name="Submit" value="ASSIGN" class="btn btn-success" />
          </div>
      </td>
    </tr>
  </table>
</form>
<!--</body>-->
<!--</html>-->
{% endblock %}