<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'staffhomeindex.html' %}
{% block body %}

<head>
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table" id="customers">
    <tr>
      <th colspan="2"><div align="center">VIEW ACCESSORY </div></th>
    </tr>
    <tr>
      <td>ACCESSORY</td>
      <td>&nbsp;</td>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i[1]}}</td>
      <td><a href="/delete_accessory?accessoryid={{i[0]}}" >DELETE</a></td>
      {% endfor %}
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}