{% extends 'adminindex.html' %}
{% block body %}

<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="#">ADD STAFF</a></td>
    </tr>
    <tr>
      <td><a href="#">MANAGE STAFF</a></td>
    </tr>
    <tr>
      <td><a href="#">ADD DELIVERY AGENT</a></td>
    </tr>
    <tr>
      <td><a href="#">ASSIGN DELIVERY AGENT</a></td>
    </tr>
    <tr>
      <td><a href="#">VIEW CUSTOMER</a></td>
    </tr>
    <tr>
      <td><a href="#">VIEW ORDER</a></td>
    </tr>
    <tr>
      <td><a href="#">FEEDBACK</a></td>
    </tr>
    <tr>
      <td><a href="#">COMPLAINT</a></td>
    </tr>
    <tr>
      <td><a href="#">PAYMENT</a></td>
    </tr>
    <tr>
      <td><a href="#">VIEW STOCK</a></td>
    </tr>
    <tr>
      <td><a href="#">ADD OFFER</a></td>
    </tr>
    <tr>
      <td><a href="#">REPORT</a></td>
    </tr>
    <tr>
      <td><a href="#">LOGOUT</a></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}

