
{% extends 'adminindex.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
<table class="table">
  <tr>
    <td width="90" height="27">ORDER ID</td>
     <td width="90" height="27">SHOPNAME</td>
    <td width="88">TOTAL AMOUNT </td>
    <td width="88">DATE </td>
    <td width="134">&nbsp;</td>
      <td width="134">&nbsp;</td>
  </tr>
  {% for i in val %}
  <tr>
    <td>&nbsp;{{i[1]}}</td>
    <td>&nbsp;{{i[0]}}</td>
    <td>&nbsp;{{i[3]}}</td>
    <td> {{i[4]}}</td>
    <td><a href="/order_items?oid={{i[1]}}">ITEMS </a></td>
      <td><a href="/assign_delivery?oid={{i[1]}}">Assign Delivery agent </a></td>


  </tr>
  {% endfor %}
</table>
</form>
</body>
<!--</html>-->
{% endblock %}