{% extends 'staffhomeindex.html' %}
{% block body %}


<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<body>
<form id="form1" name="form1" method="post" action="">
</form>
<table width="200" border="1">
  <tr>
    <td><a href="#">Add Stock</a></td>
  </tr>
  <tr>
    <td><a href="#">View Stock</a></td>
  </tr>
  <tr>
    <td><a href="#">View Customer</a></td>
  </tr>
  <tr>
    <td><a href="#">View service request</a></td>
  </tr>
  <tr>
    <td><a href="#">Send service reply</a></td>
  </tr>
  <tr>
    <td><a href="#">View feedback</a></td>
  </tr>
  <tr>
    <td><a href="#">View complaint</a></td>
  </tr>
  <tr>
    <td><a href="#">Profile</a></td>
  </tr>
  <tr>
    <td><a href="#">Add Offline sales</a></td>
  </tr>
  <tr>
    <td><a href="#">View Order</a></td>
  </tr>
  <tr>
    <td><a href="#">Log Out</a></td>
  </tr>
</table>
{% endblock %}